/src/.objs*
/src/devel*
/src/output*
/src/lib*
*.gch
*.layout
*.depend
*.bmarks
*build_log.html
*.cbp
*.sh
*.bat
*.workspace
*.sln
*.vcproj
*.dsp
*.dsw
*.sample
dummy
Makefile
Makefile.am
Makefile.in
configure.in
codeblocks.spec.in
codeblocks.plist.in
codeblocks.pc.in
/src/sdk/wxscintilla/website
/src/sdk/wxscintilla/samples
/src/sdk/wxscintilla/src/scintilla_generator
